h1 {
    width: max-content;
    height: max-content;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

/*Убрать стрелочки из поля ввода*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    font-weight: 600;
}

#app {
    width: 200px;
    box-shadow: 0 3px;
    border: 1px solid red;
}

input[type="text"] {
    border: 1px solid red;
    color: #243849;
    font-size: 18px;
    padding: 5px 5px;
    text-align: right;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.cell {
    flex: 33%;
    height: 50px;
    font-size: 18px;
    border: none;
}

.num {
    background-color: #233849;
    color: #fff;
    font-weight: 400;
}

.cell:hover {
    background-color: #ff9900;
}

.op {
    background-color: #ff9900;
    color: #243849;
}

.reactiveAnswer {
    height: 20px;
    border: none;
}
.button_back {
    font-size: 20px;
    display: inline-block;
    margin: 60px auto 45px;
    background-color: #5597b4;
    box-shadow: 30px 10px 10px #ccc;
    border-radius: 2px;
}